
.options-blurred {
  position: relative;
  filter: blur(5px);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.134);
    backdrop-filter: blur(5px);
    border-radius: 10px;
  }
}

.quiz-option {
  @apply flex items-center rounded-md w-full ps-2 mb-2 border border-transparent;
  @apply hover:bg-slate-100 dark:hover:bg-slate-900;

  .quiz-option-input {
    @apply px-2 block;
  }

  .quiz-option-label {
    @apply block md:flex justify-between items-center text-sm md:text-base p-4 cursor-pointer w-full select-none;
  }

  &:not(:checked) {
    @apply hover:bg-slate-100 dark:hover:bg-slate-900;
  }
}

.quiz-option.selected-option {
  @apply bg-slate-100 dark:bg-slate-900  border-slate-300 dark:border-slate-800 font-semibold ;
}

.quiz-option.wrong-option {
  @apply border !border-red-500;

  &:not(.selected-option) {
    
    &:hover {
      background-color: transparent
    }
  }
}

.quiz-option.correct-option {
  @apply border !border-green-500;

  &:not(.selected-option) {
    &:hover {
      background-color: transparent
    }
  }
}




.quiz-controls {
  @apply flex justify-center gap-4 md:justify-end px-6 py-3 md:p-6 sticky md:relative top-0 border-t border-slate-200 dark:border-slate-800;
}

