@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F8FC;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
select {
  @apply text-black w-full rounded-md  
    border border-slate-400
  focus-visible:border-blue-500 focus-visible:outline-none;
}

.container {
  @apply mx-auto px-4;
  max-width: 1200px;
}
